rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    match /shivas/{id} {
      // TODO: Improve security so only allows read if visitor key or mourner key matches this shiva, or this user created the shiva
      allow read: if true;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.uid;
      allow update: if request.auth != null && request.auth.uid == resource.data.uid;
      allow delete: if false;

        match /visits/{visitId} {
          allow write: if true;
        }
    }

    match /users/{uid} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow create: if request.auth != null && request.auth.uid == uid;
      allow update: if request.auth != null && request.auth.uid == uid;
      allow delete: if false;
    }

    match /messages_add_visitor/{id} {
      allow create: if true;
      allow update: if true;
      allow delete: if false;
    }

    match /messages_new_user/{id} {
      allow create: if true;
      allow update: if true;
      allow delete: if false;
    }

    match /messages_timeslot_deleted_visitor/{id} {
      allow create: if true;
    	allow update: if true;
    	allow delete: if false;
    }
  }
}
